.auth {
  @include flex_row();
  width: 1100px;
  height: 576px;

  padding: 10px;
  border-radius: 16px;

  background: #111;
  // background: #000;
  // border: 1px solid #222;

  &-block {
    @include flex_col();
    gap: 0px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

  .get-started {
    @include flex(column, space-between, flex-start, 10px);
    flex: 1;
    padding: 16px;
    background: url("/assets/images/2.jpg") no-repeat center center;
    background-size: cover;

    &__logo {
      font-size: 30px;
      font-weight: 200;
      @include flex(row, center, center, 8px);
    }

    &__body {
      @include flex_col(20px);
      h3 {
        color: $white;
        line-height: 1;
        font-size: 54px;
        font-weight: 500;
        text-transform: uppercase;
      }

      button {
        @include flex(row, center, center, 6px);
        color: $black;
        font-size: 15px;
        font-weight: 500;
        padding: 14px 30px;
        width: max-content;
        background: $white;
        border-radius: 60px;
      }
    }
  }

  .features {
    flex-wrap: wrap;
    width: calc(60%);
    max-width: 556px;
    flex-direction: row;
    &--block {
      @include flex(column, space-between, flex-start, 10px);
      width: 50%;
      height: 50%;
      padding: 16px;

      $colors: gray, #fff, #fff, #000;
      $backgrounds: #1f1f1f, #eb4e27, #855be1, #f3b3ec;
      @for $i from 1 through length($backgrounds) {
        &:nth-child(#{$i}n) {
          color: nth($colors, $i);
          background-color: nth($backgrounds, $i);
        }
      }

      &:first-child {
        // background: url("/assets/images/6.png") no-repeat center center;
        background-size: cover;
      }

      &__icon {
        color: #fff;
      }

      &__illustration {
        max-height: 70px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      &__text {
        @include flex_col();
        h1 {
          line-height: 1;
          font-size: 54px;
          font-weight: 500;
        }
        p {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
